/* Colors */
body {
  color: #475c6c;
}
.features .feature-item {
  color: #475c6c;
}
#site-main .learn-more-button {
  color: #475c6c;
  border: 2px solid #475D6C;
}
#site-main .learn-more-button:hover {
    background-color: #475D6C;
    color: #f7efd3;
}
/* logos */
.docs #sidebar-wrapper #sidebar-brand a .brand-wrapper,
#navigation .navbar-wrapper .navigation-brand .custom-feature-icon .icon-wrapper {
    background-size: 36px 36px;
}
/* disable the big fat github button */
#masthead a.masthead-button {
  display: none;
}
/* disable the github link in the top right */
div.navigation-menu {
  display: none;
  visibility: hidden;
}
